<h2>Lorem Ipsum Generator</h2>
<p>Do you know what lorem ipsum is? Because I do! Back in the old days of web development, developers would craft a perfectly functional site for the clients. But when the developers went to show the site to the clients, the site was empty; so the developers inserted filler text that was relevant to what the clients wanted until the clients provided the developers with real content. Well, the clients through a fit! They did not realize this content was only filler for display. </p>

<p> The coders were like, "Hmm... these clients are pretty stupid. We need to come up with the most arbitrary filler text we can so nobody can complain about it not being accurate" And come up with arbitrary filler they did...<p>

<h3> Introducing... Lorem Ipsum! </h3>
<p> Lorem Ipsum is auto generated latin words used as the filler text in order to display an app.</p>
<%= link_to "Generate some cool text", "/generate_lorem_ipsum" %>

<h2>Random User Generator</h2>
<p>Just like filler text, but for users. Filler users! Sweet<p>
<%= link_to "Generate some cool users", "/generate_users" %>
